/* Resetare stiluri implicite */
body, h1, h2, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 10px;
}

.calendar {
    margin-top: 20px;
}

.month {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.empty {
    background-color: #f5f5f5;
}

ul {
    list-style-type: none;
    margin-top: 10px;
}

li {
    margin-bottom: 5px;
}

form {
    margin-top: 10px;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

td {
    border: 1px solid;
    background-color: #28a745;
  }
button[type="submit"] {
    background-color: #28a745;
}

input[type="number"], input[type="date"], input[type="text"] {
    padding: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Opțional: Adaugă spațiere orizontală între butoanele din formular */
form > * {
    margin-right: 10px;
}
